.containerFormations {
  width: 710px;
}

.fleets {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fleetsList {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.fleetsItem {
  padding: 15px;
  border: 1px solid black;
  border-radius: 25px;
}
