.filterTitle {
  padding: 15px 0;
  text-align: center;
}

.boxShips {
  display: flex;
  gap: 25px;
}

.boxFilter {
  width: 25px;
  /* padding: 10px; */
}

.boxCollectionShips {
  width: 400px;
}

.shipsList {
  height: 650px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  overflow: hidden;
  overflow-y: scroll;
}

.shipItem {
  width: 120px;
}
